/* //widescreens
@include mediaXl {
} */

/* //desktops
@include mediaLg {
} */

//tablets
@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    padding: 2.7rem;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: unset;
      font-size: 44px !important;
      width: 100%;
    }
  }

  .menu {
    width: 100%; 
  }
  ul.menu-nav, div.menu-branding {
    //float: none;
    //width: 100%;
    //min-height: 0;
    &.show {
      //transform: translate3d(0, 0, 0);
    }
  }

  // .menu-nav {
  //   height: 75vh;
  //   transform: translate3d(-100%, 0, 0);
  //   font-size: 24px;
  // }

  // .menu-branding {
  //   height: 25vh;
  //   transform: translate3d(100%, 0, 0);
  // }

  .menu-btn {
    right: 15px;
  }

  .img-and-bio {
    display: flex;
    flex-direction: column;
  }

  .img-vrap {
    margin: 0 auto;
  }

  .contact-info-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contact-form {
      width: 100%;
      margin-top: 30px;
    }
  }

  .title-heading {
    margin: 0 auto;
  }

  #work-pop-up {
    max-width: 500px;
    padding: 10px;
  }
  .active-work {
    flex-direction: column;
    width: 500px;
    #information,
    #carousel {
      width: 100%;
    }
    #information {
      margin-top: 10px;
    }
  }
}

//smartphones
@include mediaSm {
  #work-pop-up {
    padding: 5px;
  }

  .bio {
    margin: 24px;
  }

  main#home h1 {
    margin-top: 10vh;
  }

  main {
    padding: 20px;
  }

  .contact-info {
    width: 100%;
    ul {
      padding: 0;
      margin: 0;
    }
  }
  .contact-info-form {
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
    .contact-form {
    width: 100%;
    margin-top: 30px;
    }
  }
  #back-to-top-btn {
    right: 5px;
  }
  .menu-btn {
    right: 10px;
  }

  .technologies-vrap {
    display: none;
  }
  .technologies-vrap {
    &.technologies-vrap-small {
      display: block;
    } 
  }

  .title-heading {
    margin: 0 auto;
  }
}


//old phones 
/* @include mediaSm {
} */