html {
  scroll-behavior: smooth;
}

// scroll down infinite button
.scroll-wrap {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 50px;
  margin: 0 auto;
  svg {
    fill:set-text-color($primary-color);
  }
}

.scroll-btn-wrap{
  position: absolute;
  margin: 0 auto;
  height: 6px;
  width: 31px;
  bottom: 68px;
  width: 31px;
  right:  calc(50% - 16px);
  animation: scroll-down 1s ease-in-out infinite;
  text-align: center;
  z-index: 1;
    svg {
    margin: 0 auto;
    text-align: center;
    fill:set-text-color($primary-color);
    z-index: 333;
    position: absolute;
    //top: 4px;
    left: -0px;
  }
}


@keyframes scroll-down {
  100% {bottom: 67px;}
}

@keyframes scroll-arrow {
  0% {opacity: 0;}
  10% {opacity: 0.3;}
  30% {opacity: 0.5;}
  100% { opacity: 1;}
}
//arrow 
.arrow {
  position: relative;
  animation: scroll-arrow 1.5s ease-in-out infinite;
  margin-top: 8px;
  text-align: center;
  height: 20px;
  p {
  //transform: rotate(45deg);
  color:set-text-color($primary-color);
  position: relative;
  left:  calc(50% - 14.5px);
  margin: 0;
  width: 30px;
  }
  svg {
    position: relative;
    margin: 0 auto;
    fill:set-text-color($primary-color);
    transform: rotate(90deg); 
  }
}

.arrow2 {
  //margin-top: 8px;
  animation: scroll-arrow 1.5s ease-in-out infinite;
  animation-delay: 0.2s;
  position: relative;
  text-align: center;
  height: 20px;
  bottom: 7px;
  p {
    width: 30px;
    position: relative;
    left:  calc(50% - 14.5px);
    color:set-text-color($primary-color);
    margin: 0;
  } 
}

.inner-arrow {
  width: 20px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  svg {
    position: relative;
    right: 1.5px;
  }
}

// menu links animation
.current span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(255,0,0,0), $secondary-color);
  animation: animate1 2s linear infinite ;
}

@keyframes animate1 {
  0% { transform: translateX(-100%);}
  100% { transform: translateX(100%);}
}

.current span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,0,0,0),$secondary-color);
  animation: animate2 2s linear infinite ;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% { transform: translateY(-100%);}
  100% { transform: translateY(100%);}
}


.current span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, rgba(255,0,0,0), $secondary-color);
  animation: animate3 2s linear infinite ;
  
}

@keyframes animate3 {
  0% { transform: translateX(100%);}
  100% { transform: translateX(-100%);}
}

.current span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to top, rgba(255,0,0,0), $secondary-color);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;

}

@keyframes animate4 {
  0% { transform: translateY(100%);}
  100% { transform: translateY(-100%);}
}


// small heading title animation
.opacity-on-scroll {
  animation: opac 1s forwards;
  //animation-delay: 200s;
}

// icons animation 
.iconsSlideIn:nth-child(1) {
  animation-delay: 200ms;
  transform: translateY(40px);

}
.iconsSlideIn:nth-child(3) {
  animation-delay: 500ms;
  transform: translateY(40px);
}

#githubIcon {
  position: relative;
  animation-delay: 800ms;
  top: 40px;
}

.iconsSlideIn {
  animation: iconsSlide 1s forwards ease-in-out;
  position: relative;
  opacity: 0;
  //transform: translateY(40px)
}

@keyframes iconsSlide {
/* 0% {opacity: 0;}
80% {opacity: 0.5;} */
100% {transform: none; opacity: 1; top: 0; }
}


//// Animation

//Title animation
.slideIn {
  // animation: slide 1200ms forwards ease;
  // opacity: 0.8;
  // position: relative;
  // transform: translateX(-105%);
  // will-change: transform;
}
//title animation
@keyframes slide {
  0% {opacity: 0.9;}
  /* 90% {opacity: 0.7; transform: none;} */
  100% {opacity: 1; transform: none;}
  /* 90% {opacity: 1; right: 5px;}
  100% {right: 0; opacity: 1;} */
}

//img bio animation
.img-bio-apprear {
  animation: img-bio-apprear 1s forwards ease;
}
@keyframes img-bio-apprear {
 100% {top:0; transform: none; opacity: 1;} 
}

//contact form animation
.contact-form-apprear {
 animation: contact-form-apprear 1.5s forwards ease;
}
@keyframes contact-form-apprear {
  100% {transform: none; opacity: 1;}
}

@for $x from 1 through 5 {
  .item:nth-child(#{$x}) {
    animation-delay: $x * 0.1s;
  }
}

// work item animation
.item {
  transform: scale(0.9);
  opacity: 0.3;
  width: 260px;
  max-width: 260px;
  margin: 0 auto;
  // a {
  //   overflow: hidden; 
  //   img {
  //     @include easeOut;
  //     z-index: 100;
  //   }
  // }
}
.work-img-vrap {
  overflow: hidden;
  @include easeOut;
  border: 2px solid $secondary-color;  
  height: 200px;
  max-height: 200px;
  position: relative;
}

/* .work-img-vrap:hover {
  border: 2px  solid white;
} */

// project-info

.project-info {
  position: absolute;
  bottom: -12px;
  left: -150px;
  height: 50px;
  width: 330px;
  transform: rotateZ(45deg);
  background: rgba($color: $secondary-color, $alpha: 0.6);
  border: none;
  transition: 0.4s;
}

.first-svg {
  position: absolute;
  left: 5px;
  bottom: 5px;
  fill: set-text-color($primary-color);
  //opacity: 0.7;
  transform: rotateZ(-45deg);
  width: 22px;
  height: 22px;
  transition: 0.4s;
}
.second-svg {
  display: block;
  position: absolute;
  transition: 0.4s;
  left: 147px;
  bottom: 102px;
  fill: set-text-color($primary-color);
  transform: rotateZ(135deg);
  width: 22px;
  height: 22px;
  opacity: 0;
}
.project-info-button-vrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 40px;
  overflow: hidden;
  //border: 1px solid black;

  z-index: 1;
}
.project-info-button {
  position: absolute;
  background: /* rgb(219, 219, 219) */ transparent;
  //opacity: 0.7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  color: set-text-color($primary-color);
  //opacity: 0.7;
  width: 70px;
  height: 40px;
  right: -100%;
  top: -100%;
  border: none;
  outline: none;
}

//hover efect
.work-img-vrap:hover .project-info {
  height: 330px;
  width: 325px;
  left: -35px;
  bottom: -70px;
}
.work-img-vrap:hover {
  .first-svg {
    left: 146px;
    bottom: 102px;
  }
  .second-svg {
    animation: displaySecondSvg 0.4s ease forwards;
    animation-delay: 0.4s;
    //display: block;
  }
  .project-info-button {
    animation: displayProjectBtn 0.4s ease forwards;
    animation-delay: 500ms;
    // background-color: red;
    cursor: pointer;
    z-index: 100;
  }
}

.project-info-button:hover {
  //color: rgb(179, 174, 174);
  transform: scale(1.1);
}

//animations info about project
@keyframes displayProjectBtn {
  100% {
    right: 0;
    top: 0;
  } 

}

@keyframes displaySecondSvg {
  100% {
    opacity: 1;
    left: 88px;
    bottom: 73px;
  }
  // 100% {
  //   opacity: 0;
  // }
}

// project item popup



// contact 
.contact-info-form {
  display: flex;
  justify-content: space-evenly;
}
.contact-info {
  width: fit-content;
  transform: translateX(-50%);
  opacity: 0.3;
  
}
.contact-info-item {
  a {
    display: flex;
    svg {
      position: relative;
      top: 15px;
    }
  }
  //background:rgba(255, 255, 255, 0.7);
  background: darken($color: $primary-color, $amount: 3);
  /* opacity: 0.7; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  //border: 1px solid $secondary-color;
  height: 50px;
  margin-top: 15px;
  padding: 0 10px;
    svg {
      width: 30px;
      height: 30px;
      fill: $secondary-color;
      margin-right: 10px;
    }
    p {
      font-size: 18px;
      color: set-text-color($primary-color);
      border-left: 1px solid $secondary-color;
    }
 
}

.contact-info-item:nth-child(4):hover,
.contact-info-item:nth-child(1):hover {
  svg {
    fill: $primary-color;
    @include easeOut
  }
}

//email itemm on contact page
#email-contact-btn {
  cursor: pointer;
}


// form
.contact-form {
  width: 40%;
  transform: translateX(50%);
  opacity: 0.3;
  //background: rgba(255, 255, 255, 0.7);
  // background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);
  background: darken($color: $primary-color, $amount: 3);

  padding: 20px;
}
form {
  margin: 0 auto;
  text-align: center;
  //margin-top: 50px;
  transition: all 4s ease-in-out;
  color: set-text-color($primary-color);
}

.form-control {
  //text-align: center;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: set-text-color($primary-color);
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
  color: set-text-color($primary-color);

}

form .submit {  
  background: $secondary-color;
  border-color: transparent;
  color: set-text-color($primary-color);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #6ff857;
  cursor: pointer;
}

//back to top btn
#back-to-top-btn {
   -webkit-tap-highlight-color: rgba(0,0,0,0);
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 42px;
  height: 42px;
  font-size: 18px;
  border-radius: 50%;
  z-index: 1;
  border: none;
  outline: none;
  background-color: $primary-color;
  color: $secondary-color;
  border: 1px solid  $secondary-color;
  cursor: pointer;
  transform: rotate(90deg);
  text-align: center;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  user-select: none;
  //border: 3px solid $darkBlue;
}

