@import 'config';
@import 'menu';
@import 'scroll';


* {
box-sizing: border-box;
}

body {
  @include background;
  background: rgba($primary-color,$background-opacity);
  background: #444;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 4rem;
    width: fit-content;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    width: inherit;
    opacity: 0;
    animation: opac 2s forwards;
    animation-delay: 1.5s;
    //padding: 0.2rem ;
    //opacity: 0;
  }
}


@keyframes opac {
  100% {opacity: 1; background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);}
}




a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  overflow: hidden;
  padding: 4rem;
  // sticking foooterr to bottom
  min-height: calc(100vh - 60px);

.icons {
  margin-top: 1rem;

  a {
    padding: 0.4rem;
    svg {
      fill:set-text-color($primary-color);
    }
      svg:hover{
      fill: $secondary-color;
      @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.img-and-bio {
  display: grid;
  grid-gap: 30px;
  //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-areas: 
  'bioimage bio bio';
}

.jobovi {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-top: 50px;
  

}

.img-vrap {
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  overflow: hidden;
  background: linear-gradient(180deg, #000 1%, $secondary-color 50%);
  width: 250px;
  height: 300px;
  opacity: 0.2;
  transform:  translateY(10px) scale(0.9);
}



.bio-image {
  overflow: hidden;
  //padding: 5px;
  clip-path: polygon(50% 2%, 98% 2%, 98% 74%, 50% 98%, 2% 74%, 2% 2%);
  width: 250px;
  height: 300px;  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: bioimage;
  margin: auto;
  //border-radius: 50%;
  //border: $secondary-color 3px solid;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
  opacity: 0.2;
  transform:  translateY(10px) scale(0.9);
}

/* 
.job-1 {
  grid-area: job1;
  
}

.job-2 {
  grid-area: job2;
}

.job-3 {
  grid-area: job3;
} */

.job {
  background: lighten($primary-color, 5);
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  margin: 0 auto;
  //border-bottom: 3px solid $secondary-color;
  opacity: 0.4;
  /* transform: scale(0.9) translateZ(220px); */
  transform:  translateY(10px) scale(0.9);
  h3, p {
    //z-index: 1;
  }
}

//CARDS ABOUT ME

.card {
  margin: 0 auto;
  width: 280px;
  height: 320px;
  background: lighten($primary-color, 5);
  //text-align: center;
  
  .card-img-vrap {
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    background: #005c7b;
    height: 160px;
    overflow: hidden;
       .card-img {
      width: 100%;
      height: 160px;
      clip-path: polygon(50% 0%, 100% 0, 100% 74%, 50% 99%, 0 74%, 0 0);
      background: url('../images/tehnologies1.jpg');
      //background: #005c7b;
      filter: blur(5px);
      transform: translateY(-10px);
      
      //animation-delay: 0.5s;
    }

  }
   .card-text{
      text-align: center;
      margin: 10px;
      opacity: 0;
      transform: translateY(-10px);
      
    }

}

.card:nth-child(2) {
  .card-img {
    background:url('../images/tehnologies2.jpg');
    background-size: cover;
  }
}
.card:nth-child(3) {
  .card-img {
    background:url('../images/browsers.jpg');
    background-size: cover;
  }
}

.card-img-vrap2 {
  animation: card-vrap 2s forwards ease;
  animation-delay: 0.5s;
}

.card-img2 {
  animation: card-img 1.5s forwards ease;
}

.card-text2 {
  animation: card-text 1s forwards ease;
  animation-delay: 1s;
}



@keyframes card-img {
  to {
    //background: url('../images/tehnologies1.jpg');
    filter: none;
    transform: none;
  }
}

@keyframes card-vrap {
  to {background: $secondary-color;}
}

@keyframes card-text {
  to {
    opacity: 1;
    transform: none;
  }
}

.border-div {
  position: relative;
  bottom: -2px;
  margin: 0 auto;
  width: 80%;
  height: 4px;
  //background: linear-gradient(90deg, rgba(255,255,255,0) 4%, $secondary-color 10%, #000 50%,$secondary-color 90%, rgba(0,212,255,0) 96%);
  background: $secondary-color;
  //background: linear-gradient(90deg, $secondary-color 20%, #000);
  //border-bottom: 4px solid $secondary-color;
}
// TEHNOGLOGIES

.tehnologies {
  font-size: 74px;
  font-weight: bold;
  color: rgb(240, 238, 238);
  z-index: -1;
  position: relative;
  top: 50px;
  margin: 0;

}

// work/projects 

.projects {
  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 10px;

  img {
    width: 100%;
/*     border-right: 7px solid lighten($color:rgb(0, 247, 255), $amount: 25);
    border-left: 7px solid #000; */
    height: 100%;
    margin: 0 auto;
  }
}

//contact page 
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.5rem;
    border: 1px #fff solid;
    padding: 10px 5px;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      //padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

//buttons styles 
.fillWhite {
  fill: #fff;
}

.btn {
  height: 40px;
  text-align: center;
  display: block;
  //padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($color:$primary-color, $amount: 50);
  color: #fff;

  svg {
    fill: #fff;
    position: relative;
    top: 8px;
    right: 15%;
  }
}

.btn-light {
  @extend .btn;
  background: lighten($color:$primary-color, $amount: 50);
  color: #333;
  //padding-bottom: 15px;
  svg {
    position: relative;
    top: 8px;
    right: 15%;
  }
}



#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($color: $primary-color, $amount: 10);
  color: set-text-color($primary-color);
  height: 60px;
}
/* 
#about {
  @include background;
} */

@import 'mobile';