@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.container-layer {
  background: rgba(77, 77, 77, 0.9);
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(-45deg);
          transform: translateY(8px) rotate(-45deg);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(45deg);
          transform: translateY(-8px) rotate(45deg);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
  z-index: 2;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #404040;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #4d4d4d;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("../images/usvizaSm.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: solid 3px #858484;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #858484;
}

.menu .nav-link {
  overflow: hidden;
  width: 142px;
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: #858484;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

html {
  scroll-behavior: smooth;
}

.scroll-wrap {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 50px;
  margin: 0 auto;
}

.scroll-wrap svg {
  fill: #fff;
}

.scroll-btn-wrap {
  position: absolute;
  margin: 0 auto;
  height: 6px;
  width: 31px;
  bottom: 68px;
  width: 31px;
  right: calc(50% - 16px);
  -webkit-animation: scroll-down 1s ease-in-out infinite;
          animation: scroll-down 1s ease-in-out infinite;
  text-align: center;
  z-index: 1;
}

.scroll-btn-wrap svg {
  margin: 0 auto;
  text-align: center;
  fill: #fff;
  z-index: 333;
  position: absolute;
  left: -0px;
}

@-webkit-keyframes scroll-down {
  100% {
    bottom: 67px;
  }
}

@keyframes scroll-down {
  100% {
    bottom: 67px;
  }
}

@-webkit-keyframes scroll-arrow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll-arrow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.arrow {
  position: relative;
  -webkit-animation: scroll-arrow 1.5s ease-in-out infinite;
          animation: scroll-arrow 1.5s ease-in-out infinite;
  margin-top: 8px;
  text-align: center;
  height: 20px;
}

.arrow p {
  color: #fff;
  position: relative;
  left: calc(50% - 14.5px);
  margin: 0;
  width: 30px;
}

.arrow svg {
  position: relative;
  margin: 0 auto;
  fill: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.arrow2 {
  -webkit-animation: scroll-arrow 1.5s ease-in-out infinite;
          animation: scroll-arrow 1.5s ease-in-out infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  position: relative;
  text-align: center;
  height: 20px;
  bottom: 7px;
}

.arrow2 p {
  width: 30px;
  position: relative;
  left: calc(50% - 14.5px);
  color: #fff;
  margin: 0;
}

.inner-arrow {
  width: 20px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

.inner-arrow svg {
  position: relative;
  right: 1.5px;
}

.current span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0)), to(#858484));
  background: linear-gradient(to right, rgba(255, 0, 0, 0), #858484);
  -webkit-animation: animate1 2s linear infinite;
          animation: animate1 2s linear infinite;
}

@-webkit-keyframes animate1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animate1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.current span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(#858484));
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #858484);
  -webkit-animation: animate2 2s linear infinite;
          animation: animate2 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.current span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 0, 0, 0)), to(#858484));
  background: linear-gradient(to left, rgba(255, 0, 0, 0), #858484);
  -webkit-animation: animate3 2s linear infinite;
          animation: animate3 2s linear infinite;
}

@-webkit-keyframes animate3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animate3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.current span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 0, 0, 0)), to(#858484));
  background: linear-gradient(to top, rgba(255, 0, 0, 0), #858484);
  -webkit-animation: animate4 2s linear infinite;
          animation: animate4 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes animate4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes animate4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.opacity-on-scroll {
  -webkit-animation: opac 1s forwards;
          animation: opac 1s forwards;
}

.iconsSlideIn:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.iconsSlideIn:nth-child(3) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

#githubIcon {
  position: relative;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  top: 40px;
}

.iconsSlideIn {
  -webkit-animation: iconsSlide 1s forwards ease-in-out;
          animation: iconsSlide 1s forwards ease-in-out;
  position: relative;
  opacity: 0;
}

@-webkit-keyframes iconsSlide {
  /* 0% {opacity: 0;}
80% {opacity: 0.5;} */
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    top: 0;
  }
}

@keyframes iconsSlide {
  /* 0% {opacity: 0;}
80% {opacity: 0.5;} */
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0.9;
  }
  /* 90% {opacity: 0.7; transform: none;} */
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  /* 90% {opacity: 1; right: 5px;}
  100% {right: 0; opacity: 1;} */
}

@keyframes slide {
  0% {
    opacity: 0.9;
  }
  /* 90% {opacity: 0.7; transform: none;} */
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  /* 90% {opacity: 1; right: 5px;}
  100% {right: 0; opacity: 1;} */
}

.img-bio-apprear {
  -webkit-animation: img-bio-apprear 1s forwards ease;
          animation: img-bio-apprear 1s forwards ease;
}

@-webkit-keyframes img-bio-apprear {
  100% {
    top: 0;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes img-bio-apprear {
  100% {
    top: 0;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.contact-form-apprear {
  -webkit-animation: contact-form-apprear 1.5s forwards ease;
          animation: contact-form-apprear 1.5s forwards ease;
}

@-webkit-keyframes contact-form-apprear {
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes contact-form-apprear {
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.item:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.item:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.item:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.item:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.item:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.item {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.3;
  width: 260px;
  max-width: 260px;
  margin: 0 auto;
}

.work-img-vrap {
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border: 2px solid #858484;
  height: 200px;
  max-height: 200px;
  position: relative;
}

/* .work-img-vrap:hover {
  border: 2px  solid white;
} */
.project-info {
  position: absolute;
  bottom: -12px;
  left: -150px;
  height: 50px;
  width: 330px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  background: rgba(133, 132, 132, 0.6);
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.first-svg {
  position: absolute;
  left: 5px;
  bottom: 5px;
  fill: #fff;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  width: 22px;
  height: 22px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.second-svg {
  display: block;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  left: 147px;
  bottom: 102px;
  fill: #fff;
  -webkit-transform: rotateZ(135deg);
          transform: rotateZ(135deg);
  width: 22px;
  height: 22px;
  opacity: 0;
}

.project-info-button-vrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70px;
  height: 40px;
  overflow: hidden;
  z-index: 1;
}

.project-info-button {
  position: absolute;
  background: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  width: 70px;
  height: 40px;
  right: -100%;
  top: -100%;
  border: none;
  outline: none;
}

.work-img-vrap:hover .project-info {
  height: 330px;
  width: 325px;
  left: -35px;
  bottom: -70px;
}

.work-img-vrap:hover .first-svg {
  left: 146px;
  bottom: 102px;
}

.work-img-vrap:hover .second-svg {
  -webkit-animation: displaySecondSvg 0.4s ease forwards;
          animation: displaySecondSvg 0.4s ease forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.work-img-vrap:hover .project-info-button {
  -webkit-animation: displayProjectBtn 0.4s ease forwards;
          animation: displayProjectBtn 0.4s ease forwards;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  cursor: pointer;
  z-index: 100;
}

.project-info-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes displayProjectBtn {
  100% {
    right: 0;
    top: 0;
  }
}

@keyframes displayProjectBtn {
  100% {
    right: 0;
    top: 0;
  }
}

@-webkit-keyframes displaySecondSvg {
  100% {
    opacity: 1;
    left: 88px;
    bottom: 73px;
  }
}

@keyframes displaySecondSvg {
  100% {
    opacity: 1;
    left: 88px;
    bottom: 73px;
  }
}

.contact-info-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.3;
}

.contact-info-item {
  background: #454545;
  /* opacity: 0.7; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-top: 15px;
  padding: 0 10px;
}

.contact-info-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info-item a svg {
  position: relative;
  top: 15px;
}

.contact-info-item svg {
  width: 30px;
  height: 30px;
  fill: #858484;
  margin-right: 10px;
}

.contact-info-item p {
  font-size: 18px;
  color: #fff;
  border-left: 1px solid #858484;
}

.contact-info-item:nth-child(4):hover svg,
.contact-info-item:nth-child(1):hover svg {
  fill: #4d4d4d;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#email-contact-btn {
  cursor: pointer;
}

.contact-form {
  width: 40%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 0.3;
  background: #454545;
  padding: 20px;
}

form {
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
  color: #fff;
}

.form-control {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
  color: #fff;
}

form .submit {
  background: #858484;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #6ff857;
  cursor: pointer;
}

#back-to-top-btn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 42px;
  height: 42px;
  font-size: 18px;
  border-radius: 50%;
  z-index: 1;
  border: none;
  outline: none;
  background-color: #4d4d4d;
  color: #858484;
  border: 1px solid #858484;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#work {
  position: relative;
}

#work-pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 800px;
  width: 100%;
  text-align: center;
  padding: 20px;
  background: #858484;
  z-index: 1;
  display: none;
}

#work-pop-up h2 {
  margin-bottom: 30px;
  font-size: 26px;
}

#work-pop-up h4 {
  font-size: 24px;
  text-transform: uppercase;
}

#work-pop-up p {
  font-size: 22px;
}

.active-work {
  display: block !important;
}

.work-pop-up-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 10px;
  margin-bottom: 30px;
}

.work-pop-up-images img {
  width: 220px;
  height: 180px;
  margin: 0 auto;
}

.technologies-vrap {
  width: 420px;
  margin: 0 auto;
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.technologies-vrap .techno-skill {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  background: transparent !important;
  z-index: 1;
}

.technologies-vrap .technologies-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
}

.technologies-vrap .technologies-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 70px;
  top: 33px;
  -webkit-transition: 1s;
  transition: 1s;
}

.technologies-vrap .responsive-part {
  display: none;
}

.technologies-vrap .technologies-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 70px;
  top: -33px;
  -webkit-transition: 1s;
  transition: 1s;
}

.technologies-vrap .techno-vrap {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 136px;
  height: 131px;
  padding: 3px 3px;
  margin: 2px;
  background-color: #858484;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.technologies-vrap .techno {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: rgba(77, 77, 77, 0.7);
  width: 130px;
  height: 125px;
}

.technologies-vrap .techno p {
  text-align: center;
  line-height: 115px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
}

.technologies-vrap.technologies-vrap-small {
  width: 280px;
  display: none;
}

.technologies-vrap.technologies-vrap-small .technologies-single {
  position: relative;
  left: 70px;
  top: 60px;
  -webkit-transition: 1s;
  transition: 1s;
}

.technologies-vrap.technologies-vrap-small .technologies-single.end {
  top: -60px;
}

.technologies-vrap.technologies-vrap-small .technologies-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 70px;
  -webkit-transition: 1s;
  transition: 1s;
}

.technologies-vrap.technologies-vrap-small .technologies-first {
  left: 0px;
  top: 33px;
  -webkit-transition: 1s;
  transition: 1s;
}

.technologies-vrap.technologies-vrap-small .technologies-last {
  left: 0px;
  top: -33px;
  -webkit-transition: 1s;
  transition: 1s;
}

.techno-vrap:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: transparent;
}

.techno-skill:hover {
  background: #858484;
}

.technologies-vrap.on-appear .technologies-second {
  margin-top: 20px;
  margin-bottom: 30px;
}

.technologies-vrap.on-appear .technologies-last {
  position: relative;
  top: 0px;
}

.technologies-vrap-small.on-appear .technologies-second {
  margin-bottom: 30px;
  margin-top: 30px;
}

.technologies-vrap-small.on-appear .technologies-single {
  position: relative;
  top: 30px;
}

@media screen and (max-width: 768px) {
  .technologies-vrap .technologies-first {
    left: 70px;
  }
  .technologies-vrap .technologies-first .responsive-part {
    display: none;
  }
  .technologies-vrap .technologies-last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.angle-btn-vrap {
  font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
  height: 50px;
  overflow: hidden;
  margin-top: 8px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.angle-btn {
  width: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-decoration: none;
}

.angle-btn p {
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.angle-btn svg {
  fill: black;
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
  position: relative;
  top: -10px;
}

.angle-btn:nth-child(1) {
  background: #858484;
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
  height: 80px;
  position: relative;
  top: -12px;
  right: 5px;
}

.angle-btn:nth-child(1) p {
  font-weight: 900;
  position: relative;
  left: 5px;
}

.angle-btn:nth-child(2) {
  background: black;
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
  height: 80px;
  position: relative;
  top: -12px;
  left: 5px;
}

.angle-btn:nth-child(2) p {
  color: white;
}

.angle-btn:nth-child(2) svg {
  fill: white;
  right: 5px;
  top: -8px;
}

.angle-btn:nth-child(1):hover {
  background: #9e9e9e;
}

.angle-btn:nth-child(2):hover {
  background: #1a1a1a;
}

/* @imp mobile in the end of file */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: rgba(77, 77, 77, 0.9);
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body#bg-img {
  background: url(../images/bNew.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.title-heading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  padding-bottom: 50px;
  width: fit-content;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-weight: 400;
}

h1.lg-heading, h2.lg-heading, h3.lg-heading {
  font-size: 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

h1.sm-heading, h2.sm-heading, h3.sm-heading {
  margin-bottom: 1rem;
  width: 100%;
  opacity: 0;
  -webkit-animation: opac 2s forwards;
          animation: opac 2s forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes opac {
  100% {
    opacity: 1;
    background: rgba(82, 82, 82, 0.5);
  }
}

@keyframes opac {
  100% {
    opacity: 1;
    background: rgba(82, 82, 82, 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #858484;
}

.icon-item-popup {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pop-up {
  position: absolute;
  background: rgba(77, 77, 77, 0.9);
  border: 1px solid #858484;
  padding: 0 10px;
  z-index: 2;
}

.pop-up-false {
  display: none;
}

#email-popup-button {
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: #858484;
  color: white;
  margin: 0 0 10px 32px;
}

.icons {
  margin-top: 1rem;
}

.icons button {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.icons button svg {
  pointer-events: none;
}

.icons button:hover svg {
  fill: #858484;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.icons a, .icons button {
  padding: 0.4rem;
}

.icons a svg, .icons button svg {
  fill: #fff;
}

.icons a svg:hover, .icons button svg:hover {
  fill: #858484;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

main {
  overflow: hidden;
  padding: 4rem 4rem 0 4rem;
  min-height: calc(100vh - 60px);
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}

.img-and-bio {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
      grid-template-areas: 'bioimage bio bio';
}

.img-vrap {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  overflow: hidden;
  background-color: #858484;
  width: 205px;
  height: 250px;
  opacity: 0.2;
  position: relative;
  top: 20px;
}

.bio-image {
  overflow: hidden;
  -webkit-clip-path: polygon(50% 2%, 98% 2%, 98% 74%, 50% 98%, 2% 74%, 2% 2%);
          clip-path: polygon(50% 2%, 98% 2%, 98% 74%, 50% 98%, 2% 74%, 2% 2%);
  width: 205px;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  margin: auto;
}

.bio {
  font-family: 'Raleway', sans-serif;
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  font-size: 1.5rem;
  opacity: 0.2;
  top: 20px;
}

.border-div {
  position: relative;
  bottom: -2px;
  margin: 0 auto;
  width: 80%;
  height: 4px;
  background: #858484;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 10px;
}

.projects img {
  width: 100%;
  height: 100%;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #343434;
  color: #fff;
  height: 60px;
}

/* //widescreens
@include mediaXl {
} */
/* //desktops
@include mediaLg {
} */
@media screen and (max-width: 768px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 2.7rem;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
    font-size: unset;
    font-size: 44px !important;
    width: 100%;
  }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show, div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu-btn {
    right: 15px;
  }
  .img-and-bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img-vrap {
    margin: 0 auto;
  }
  .contact-info-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-info-form .contact-form {
    width: 100%;
    margin-top: 30px;
  }
  .title-heading {
    margin: 0 auto;
  }
  .work-pop-up {
    max-width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .bio {
    margin: 24px;
  }
  main#home h1 {
    margin-top: 10vh;
  }
  main {
    padding: 20px;
  }
  .contact-info {
    width: 100%;
  }
  .contact-info ul {
    padding: 0;
    margin: 0;
  }
  .contact-info-form .contact-form {
    width: 100%;
    margin-top: 30px;
  }
  #back-to-top-btn {
    right: 5px;
  }
  .menu-btn {
    right: 10px;
  }
  .technologies-vrap {
    display: none;
  }
  .technologies-vrap.technologies-vrap-small {
    display: block;
  }
  .title-heading {
    margin: 0 auto;
  }
}

/* @include mediaSm {
} */
/*# sourceMappingURL=style.css.map */