@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import 'config';
@import 'menu';
@import 'scroll';
@import 'tech';
@import 'angle-btn';
@import 'mobile';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: rgba($primary-color,$background-opacity);
  background: #444;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-heading {
  width: fit-content;
  overflow: hidden;
  padding-bottom: 50px;
  width: fit-content;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 4rem;
    width: fit-content;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    width: 100%;
    opacity: 0;
    animation: opac 2s forwards;
    animation-delay: 1.5s;
  }
}

@keyframes opac {
  100% {opacity: 1; background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);}
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

.icon-item-popup {
  width: fit-content;
}

.pop-up {
  position: absolute;
  background: rgba($primary-color,$background-opacity);
  border: 1px solid $secondary-color;
  padding: 0 10px;
  z-index: 2;
}
.pop-up-false {
  display: none;
}


main {
  overflow: hidden;
  padding: 4rem 4rem 0 4rem;
  min-height: calc(100vh - 60px);
  .icons {
    margin-top: 1rem;
  button {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
    svg {
      pointer-events: none;
    }
  }
  button:hover {
    svg {
      fill: $secondary-color;
      @include easeOut();
    }
  }
  a, button {
    padding: 0.4rem;
    svg {
      fill:set-text-color($primary-color);
    }
      svg:hover{
      fill: $secondary-color;
      @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.img-and-bio {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 
  'bioimage bio bio';
}

.img-vrap {
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  overflow: hidden;
  background-color: $secondary-color;
  width: 215px;
  height: 250px;
  opacity: 0.2;
  position: relative;
  top: 20px;
}

.bio-image {
  overflow: hidden;
  clip-path: polygon(50% 2%, 98% 2%, 98% 74%, 50% 98%, 2% 74%, 2% 2%);
  width: 215px;
  height: 250px;  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: bioimage;
  margin: auto;
}

.bio {
  font-family: 'Raleway', sans-serif;
  position: relative;
  grid-area: bio;
  font-size: 1.5rem;
  opacity: 0.2;
  top: 20px;
}

.border-div {
  position: relative;
  bottom: -2px;
  margin: 0 auto;
  width: 80%;
  height: 4px;
  background: $secondary-color;
}


// work/projects 
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 10px;
  img {
    width: 100%;
    height: 100%;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($color: $primary-color, $amount: 10);
  color: set-text-color($primary-color);
  height: 60px;
}
